.App {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Catamaran", sans-serif;
}

.App-header {
  font-size: calc(17px + 2vmin);
  color: white;
  text-shadow: 2px 2px 5px #775a77;
}

.App-desc {
  font-size: large;
  font-weight: bold;
  text-shadow: 2px 2px 5px #775a77;
}
