.App {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Catamaran", sans-serif;
}

.Home-header {
  font-size: calc(17px + 2vmin);
  color: white;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  margin-bottom: 0;
}

.Home-desc {
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.PageLayout {
  margin-top: 7em;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
}

.timeline {
  width: 80%;
  height: 8%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button:focus {
  outline: 0;
}

.player {
  margin-top: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.finalPage,
.quizArea,
.historyInfo,
.PageLayout {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.historyInfo {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.textInfo {
  width: 50%;
  text-align: justify;
}

.artistImage {
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}

.container {
  max-height: 480px;
  font-size: 8em;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invisible {
  display: none !important;
}

.leftButton,
.rightButton {
  position: fixed;
}

.leftButton,
.rightButton,
.playButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.leftButton {
  left: 4%;
}

.rightButton {
  right: 4%;
}

.timelineButton {
  cursor: pointer;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}

.quizButton {
  font-size: 15px;
  color: #ab87ff;
  font-weight: bold;
  background-color: white;
  border-radius: 15px;
  display: flex;
  padding: 0.5em;
  align-items: center;
  border: 5px solid #ab87ff;
  cursor: pointer;
  text-align: center;
  max-width: 150px;
}

.quizButton:hover {
  background-color: #f1e6f8;
  color: #895cf3;
  border: 5px solid #895cf3;
}

.quizButton:focus {
  outline: none;
}

.score-section {
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  color: white;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  animation-name: fadeIn;
  animation-duration: 1s;
}

.quizMedia {
  margin-top: 1em;
}

.quizArea {
  max-width: 800px;
}
